[core]
	pager = delta
	autocrlf = false
	eol = LF
	fileMode = false
	excludesfile = ~/.gitignore
    editor = vim

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = simple

[fetch]
    prune = true

[rerere]
    enabled = true

[column]
    ui = auto

[branch]
    sort = -committerdate

[help]
    autocorrect = 1

[commit]
    verbose = true

[alias]
    st = status
    co = checkout
    cob = checkout -b
    ci = commit
    br = branch
    cp = cherry-pick
    d = diff
    ds = diff --staged
    unstage = reset HEAD --
    last = log -1 HEAD
    # A better log view
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[pager]
	diff = LESS='LR --mouse' delta
	show = LESS='LR --mouse' delta
	stash = LESS='LR --mouse' delta
	log = LESS='LR --mouse' delta
	reflog = LESS='LR --mouse' delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = unobtrusive-line-numbers decorations
    whitespace-error-style = 22 reverse
    navigate = true

[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#bb4444"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#44bb44"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
[diff]
	renamelimit = 5000
