[user]
	name = Goran Ninkovic
	email = change@me.com

[core]
	pager = less -LRc --mouse
	autocrlf = false
	eol = LF
	fileMode = false
[pager]
	diff = LESS='LRc --mouse' delta
	show = LESS='LRc --mouse' delta
	stash = LESS='LRc --mouse' delta
	log = LESS='LRc --mouse' delta
	reflog = LESS='LRc --mouse' delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = unobtrusive-line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#bb4444"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#44bb44"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
[diff]
	renamelimit = 5000
