---
- name: Configure dconf applications
  become: true
  become_user: "{{ username }}"
  block:
    - name: Configure guake
      ansible.builtin.command: dconf load "/apps/guake/"
      args:
        stdin: "{{ lookup('file', role_path + '/defaults/dconf-settings/apps.guake.ini') }}"
      changed_when: true

    - name: Configure gnome desktop
      ansible.builtin.command: dconf load "/org/gnome/desktop/"
      args:
        stdin: "{{ lookup('file', role_path + '/defaults/dconf-settings/org.gnome.desktop.ini') }}"
      changed_when: true

    - name: Configure cinnamon desktop
      ansible.builtin.command: dconf load "/org/cinnamon/desktop/"
      args:
        stdin: "{{ lookup('file', role_path + '/defaults/dconf-settings/org.cinnamon.desktop.ini') }}"
      changed_when: true

    - name: Configure nemo
      ansible.builtin.command: dconf load "/org/nemo/"
      args:
        stdin: "{{ lookup('file', role_path + '/defaults/dconf-settings/org.nemo.ini') }}"
      changed_when: true

    - name: Configure Linux Mint updates
      ansible.builtin.command: dconf load "/com/linuxmint/updates/"
      args:
        stdin: "{{ lookup('file', role_path + '/defaults/dconf-settings/com.linuxmint.updates.ini') }}"
      changed_when: true

    - name: Set Adapta-Nokto start menu theme
      ansible.builtin.command: gsettings set org.cinnamon.theme name "Adapta-Nokto"
      changed_when: true
