---
- name: Download and install RescueTime
  ansible.builtin.include_tasks: shared/utils/install_remote_deb.yaml
  vars:
    remote_software_name: RescueTime
    remote_package_name: rescuetime
    remote_software_url: https://www.rescuetime.com/installers/rescuetime_current_amd64.deb

- name: Fix Google Chrome duplicate repository entry
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/google-chrome.list
    state: absent
  ignore_errors: true

- name: Install Google Chrome
  block:
    - name: Download Google Linux Signing Key
      ansible.builtin.get_url:
        url: https://dl.google.com/linux/linux_signing_key.pub
        dest: /usr/share/keyrings/google-chrome-keyring.asc
        mode: '0644'

    - name: Add Google Chrome repository
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/google-chrome-keyring.asc] http://dl.google.com/linux/chrome/deb/ stable main"
        filename: google-chrome
        state: present

    - name: Install Google Chrome from apt
      ansible.builtin.apt:
        name: google-chrome-stable
        state: present
        update_cache: true

- name: Download and install Zoom
  ansible.builtin.include_tasks: shared/utils/install_remote_deb.yaml
  vars:
    remote_software_name: Zoom
    remote_package_name: zoom
    remote_software_url: https://zoom.us/client/latest/zoom_amd64.deb

- name: Download and install Viber
  ansible.builtin.include_tasks: shared/utils/install_remote_deb.yaml
  vars:
    remote_software_name: Viber
    remote_package_name: viber
    remote_software_url: https://download.cdn.viber.com/cdn/desktop/Linux/viber.deb

- name: Download and install Tixati
  block:
    - name: Download Tixati page
      ansible.builtin.get_url:
        url: https://tixati.com/linux
        dest: "{{ download_dir }}/tixati.html"
        mode: "0644"

    - name: Find out latest Tixati URL
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          grep -oP "href=(.https.+?amd64.deb)" "{{ download_dir }}/tixati.html" | grep -oP "https.+"
        executable: "{{ bash_executable }}"
      register: tixati_url_result
      changed_when: false

    - name: Install Tixati
      ansible.builtin.include_tasks: shared/utils/install_remote_deb.yaml
      vars:
        remote_software_name: Tixati
        remote_package_name: tixati
        remote_software_url: "{{ tixati_url_result.stdout }}"

- name: Download and install UnifiedRemote
  ansible.builtin.include_tasks: shared/utils/install_remote_deb.yaml
  vars:
    remote_software_name: UnifiedRemote
    remote_package_name: unifiedremote
    remote_software_url: https://www.unifiedremote.com/download/linux-x64-deb

- name: Install apt apps - Variety, Flameshot, Bleachbit
  ansible.builtin.apt:
    name:
      - bleachbit
      - flameshot
      - papirus-icon-theme
      - variety
      - vlc
      - redshift
      - redshift-gtk

- name: Download and install mailspring
  ansible.builtin.include_tasks: shared/utils/install_github_asset.yaml
  vars:
    github_repo: Foundry376/mailspring
    github_asset: mailspring
    type: deb

- name: Install ONLYOFFICE Desktop Editors
  block:
    - name: Download ONLYOFFICE GPG key
      ansible.builtin.get_url:
        url: https://download.onlyoffice.com/GPG-KEY-ONLYOFFICE
        dest: /usr/share/keyrings/onlyoffice.asc
        mode: '0644'

    - name: Add ONLYOFFICE repository
      ansible.builtin.apt_repository:
        repo: "deb [signed-by=/usr/share/keyrings/onlyoffice.asc] https://download.onlyoffice.com/repo/debian squeeze main"
        filename: onlyoffice
        state: present

    - name: Install ONLYOFFICE from apt
      ansible.builtin.apt:
        name: onlyoffice-desktopeditors
        state: present
        update_cache: true

- name: Install ModernCSV
  block:
    - name: Download ModernCSV
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          wget -O "{{ download_dir }}/moderncsv.tar.gz" https://www.moderncsv.com/download-linux
        executable: "{{ bash_executable }}"
      args:
        creates: "{{ download_dir }}/moderncsv.tar.gz"

    - name: Create directory for ModernCSV
      ansible.builtin.file:
        path: "{{ download_dir }}/moderncsv"
        state: directory
        mode: "0755"
        owner: "{{ username }}"

    - name: Extract ModernCSV
      ansible.builtin.unarchive:
        src: "{{ download_dir }}/moderncsv.tar.gz"
        dest: "{{ download_dir }}/moderncsv"
        remote_src: true

    - name: Get version number from the desktop file
      ansible.builtin.shell:
        cmd: |
          cd $(ls) && grep -oP '(?<=Version=)[^=]+' moderncsv.desktop
        chdir: "{{ download_dir }}/moderncsv"
      register: moderncsv_version
      changed_when: false

    - name: Find install.sh and uninstall.sh files
      ansible.builtin.find:
        paths: "{{ download_dir }}/moderncsv/"
        patterns:
          - install.sh
          - uninstall.sh
        recurse: true
      register: script_files

    - name: Replace version number in found script files
      ansible.builtin.replace:
        path: "{{ item.path }}"
        regexp: "^(.*)VERSION_NUM=.+(.*)$"
        replace: "VERSION_NUM={{ moderncsv_version.stdout }}"
      loop: "{{ script_files.files }}"

    - name: Uninstall ModernCSV
      ansible.builtin.shell:
        cmd: |
          cd $(ls) && bash ./uninstall.sh
        chdir: "{{ download_dir }}/moderncsv"
        removes: /opt/moderncsv

    - name: Remove symlink
      ansible.builtin.file:
        path: /usr/bin/moderncsv
        state: absent

    - name: Install ModernCSV
      ansible.builtin.shell:
        cmd: |
          cd $(ls) && bash ./install.sh
        chdir: "{{ download_dir }}/moderncsv"
        creates: /opt/moderncsv

- name: Copy RedShift configuration file
  ansible.builtin.copy:
    src: "{{ role_path }}/defaults/.config/redshift.conf"
    dest: "{{ config_home }}"
    mode: "0644"
  become_user: "{{ username }}"
  become: true

- name: Download and install input-remapper
  ansible.builtin.include_tasks: shared/utils/install_github_asset.yaml
  vars:
    github_repo: sezanzeb/input-remapper
    github_asset: input-remapper
    type: deb
