---
- name: Add user to input group
  ansible.builtin.user:
    name: "{{ username }}"
    groups: input
    append: true

- name: Install libinput-gestures dependencies
  ansible.builtin.apt:
    name:
      - xdotool
      - wmctrl
      - libinput-tools

- name: Install the libinput-gestures conf file
  ansible.builtin.copy:
    src: "{{ role_path }}/defaults/.config/libinput-gestures.conf"
    dest: "{{ config_home }}"
    mode: "0644"
  become_user: "{{ username }}"
  become: true

- name: Remove libinput-gestures directory if it exists
  ansible.builtin.file:
    path: "{{ libinput_home }}"
    state: absent

- name: Clone libinput-gestures repo
  ansible.builtin.git:
    repo: https://github.com/bulletmark/libinput-gestures.git
    dest: "{{ libinput_home }}"
    clone: true
    update: true
    force: true
    version: master
  become_user: "{{ username }}"
  become: true

- name: Make libinput-gestures
  community.general.make:
    chdir: "{{ libinput_home }}"
    target: install

- name: Set libinput-gestures to autostart on OS boot
  ansible.builtin.shell: |
    libinput-gestures-setup autostart
  become_user: "{{ username }}"
  become: true
  args:
    creates: "{{ user_home }}/.config/autostart/libinput-gestures.desktop"
