---
- name: Install Xcode Command Line Tools
  ansible.builtin.command:
    cmd: xcode-select --install
  register: xcode_install
  failed_when: false
  changed_when: xcode_install.rc == 0

- name: Check if Homebrew is installed
  ansible.builtin.stat:
    path: "{{ homebrew_path }}/brew"
  register: homebrew_check

- name: Install Homebrew basic packages
  community.general.homebrew:
    name:
      - jq
      - curl
      - git
      - fontconfig
      - coreutils
      - proctools
      - file
      - xz
    state: present
    path: "{{ homebrew_path }}"
  register: brew_basic_result
  until: brew_basic_result is success
  retries: 3
  delay: 2
  become: false
  when: homebrew_check.stat.exists
