---
- name: Check if Homebrew is already installed
  ansible.builtin.stat:
    path: "{{ homebrew_path }}/brew"
  register: homebrew_exists

- name: Install homebrew
  ansible.builtin.shell:
    cmd: NONINTERACTIVE=1 {{ bash_executable }} -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    executable: "{{ bash_executable }}"
  become_user: "{{ username }}"
  become: true
  register: homebrew_install
  until: homebrew_install is success
  retries: 3
  delay: 5
  changed_when: homebrew_install.rc == 0
  when: not homebrew_exists.stat.exists

- name: Update Homebrew
  community.general.homebrew:
    update_homebrew: true
    path: "{{ homebrew_path }}"
  become: false
  register: brew_update_result
  until: brew_update_result is success
  retries: 3
  delay: 5

- name: Upgrade all Homebrew packages
  community.general.homebrew:
    upgrade_all: true
    path: "{{ homebrew_path }}"
  become: false
  register: brew_upgrade_result
  until: brew_upgrade_result is success
  retries: 3
  delay: 5
