---
# System preparation for macOS
- name: Create download directory
  ansible.builtin.file:
    path: "{{ download_dir }}"
    state: directory
    mode: "0755"

- name: Install Xcode Command Line Tools
  ansible.builtin.command:
    cmd: xcode-select --install
  register: xcode_install
  failed_when: false
  changed_when: xcode_install.rc == 0
