---
- name: Install Rust tools
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    executable: "{{ bash_executable }}"
    creates: "{{ user_home }}/.cargo/bin/cargo"
  become_user: "{{ username }}"
  become: true
  register: rust_install
