[Desktop Entry]
Type=Application
Exec=~/.local/bin/theme_changer.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Theme changer
Comment[en_US]=Changes the theme to dark/light based on time of the day.
X-GNOME-Autostart-Delay=5
