---
- name: Install apt apps - curl, VIm, Terminator, RedShift, htop
  ansible.builtin.apt:
    name:
      - bat
      - curl
      - zip
      - unzip
      - guake
      - htop
      - libutempter0
      - make
      - shellcheck
      - terminator
      - vim
      - kcachegrind
      - graphviz
      - python3-pip
      - jq

- name: Install SDKMan
  ansible.builtin.shell: |
    curl -s "https://get.sdkman.io" | bash
  become_user: "{{ username }}"

- name: Download and install GitKraken
  block:
    - name: Download GitKraken
      ansible.builtin.get_url:
        url: https://release.axocdn.com/linux/gitkraken-amd64.deb
        dest: "{{ download_dir }}/gitkraken.deb"
    - name: Install GitKraken
      ansible.builtin.apt:
        deb: "{{ download_dir }}/gitkraken.deb"
        force: true

- name: Download and install DBeaver
  block:
    - name: Download DBeaver
      ansible.builtin.get_url:
        url: https://dbeaver.io/files/dbeaver-ce_latest_amd64.deb
        dest: "{{ download_dir }}/dbeaver.deb"
    - name: Install DBeaver
      ansible.builtin.apt:
        deb: "{{ download_dir }}/dbeaver.deb"
        force: true

- name: Download and install Hyperfine
  block:
    - include_tasks: download_github_asset.yaml
      vars:
        github_repo: sharkdp/hyperfine
        github_asset: hyperfine
        github_asset_dest: "{{ download_dir }}/hyperfine"
        type: deb

    - name: Install Hyperfine
      ansible.builtin.apt:
        deb: "{{ download_dir }}/hyperfine.deb"
        force: true

- name: Download and install fd
  block:
    - include_tasks: download_github_asset.yaml
      vars:
        github_repo: sharkdp/fd
        github_asset: fd
        github_asset_dest: "{{ download_dir }}/fd"
        type: deb

    - name: Install fd
      ansible.builtin.apt:
        deb: "{{ download_dir }}/fd.deb"
        force: true

# TODO: Make this a task and pass it the URL
- name: Download and install Slack
  block:
    - name: Download Slack page
      ansible.builtin.get_url:
        url: https://slack.com/intl/en-rs/downloads/instructions/ubuntu
        dest: "{{ download_dir }}/slack.html"

    - name: Download latest slack package
      ansible.builtin.shell: |
        URL=https://downloads.slack-edge.com/releases/linux/;
        FILE_NAME=$(grep -oP  "(slack-desktop)-([0-9]+\.[0-9]+\.[0-9]+)-(amd64.deb)" "{{ download_dir }}/slack.html" | head -n 1 );
        VERSION=$(echo $FILE_NAME | egrep -o "[0-9]{1,}\.[0-9]{1,}\.[0-9]{1,}");
        echo $URL$VERSION/prod/x64/$FILE_NAME | xargs wget -O "{{ download_dir }}/slack.deb"
    - name: Install Slack
      ansible.builtin.apt:
        deb: "{{ download_dir }}/slack.deb"
        force: true

- name: Download and install ripgrep
  block:
    - include_tasks: download_github_asset.yaml
      vars:
        github_repo: BurntSushi/ripgrep
        github_asset: ripgrep
        github_asset_dest: "{{ download_dir }}/ripgrep"
        type: deb

    - name: Install ripgrep
      ansible.builtin.apt:
        deb: "{{ download_dir }}/ripgrep.deb"
        force: true

- name: Install exa
  ansible.builtin.copy:
    src: ./defaults/executables/exa-linux-x86_64
    dest: /usr/local/bin/exa
    mode: 0755
    owner: "{{ username }}"

- name: Create Terminator config directory path
  ansible.builtin.file:
    dest: "{{ terminator_config_dir }}"
    state: directory
    mode: 0775
  become_user: "{{ username }}"

- name: Configure Terminator
  ansible.builtin.copy:
    src: ./defaults/.config/terminator/config
    dest: "{{ terminator_config_file }}"
    mode: 0644
  become_user: "{{ username }}"

- name: Download and install JetBrains ToolBox
  ansible.builtin.shell: |
    curl -fsSL https://raw.githubusercontent.com/nagygergo/jetbrains-toolbox-install/master/jetbrains-toolbox.sh | bash

- name: Download and install Visual Studio Code
  block:
    - name: Download Visual Studio Code
      ansible.builtin.get_url:
        url: https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64
        dest: "{{ download_dir }}/vscode.deb"
    - name: Install Visual Studio Code
      ansible.builtin.apt:
        deb: "{{ download_dir }}/vscode.deb"
        force: true


- name: Install Postman
  ansible.builtin.shell: curl https://gist.githubusercontent.com/SanderTheDragon/1331397932abaa1d6fbbf63baed5f043/raw/postman-deb.sh | sh

- name: Sublime text
  block:
    - name: Install the GPG key
      ansible.builtin.apt_key:
        url: https://download.sublimetext.com/sublimehq-pub.gpg

    - name: Add apt repository
      ansible.builtin.shell: |
        echo "deb [allow-insecure=yes trusted=yes] https://download.sublimetext.com/ apt/stable/" | tee /etc/apt/sources.list.d/sublime-text.list

    - name: Install dependencies
      ansible.builtin.shell: |
        apt install -y ca-certificates apt-transport-https

    - name: Add sublime text
      ansible.builtin.apt:
        update_cache: true
        name:
          - sublime-text

- name: Download and install Dust
  block:
    - include_tasks: download_github_asset.yaml
      vars:
        github_repo: bootandy/dust
        github_asset: dust
        github_asset_dest: "{{ download_dir }}/dust"
        type: deb

    - name: Install dust
      ansible.builtin.apt:
        deb: "{{ download_dir }}/dust.deb"
        force: true

- name: Download and install duf
  block:
    - include_tasks: download_github_asset.yaml
      vars:
        github_repo: muesli/duf
        github_asset: duf
        github_asset_dest: "{{ download_dir }}/duf"
        type: deb

    - name: Install duf
      ansible.builtin.apt:
        deb: "{{ download_dir }}/duf.deb"
        force: true

- name: Download and install bottom
  block:
    - include_tasks: download_github_asset.yaml
      vars:
        github_repo: ClementTsang/bottom
        github_asset: bottom
        github_asset_dest: "{{ download_dir }}/bottom"
        type: deb

    - name: Install bottom
      ansible.builtin.apt:
        deb: "{{ download_dir }}/bottom.deb"
        force: true

- name: Download and install curlie
  block:
    - include_tasks: download_github_asset.yaml
      vars:
        github_repo: rs/curlie
        github_asset: curlie
        github_asset_dest: "{{ download_dir }}/curlie"
        type: deb

    - name: Install curlie
      ansible.builtin.apt:
        deb: "{{ download_dir }}/curlie.deb"
        force: true

- name: Add azlux repository
  ansible.builtin.shell:
    cmd: |
      echo "deb [signed-by=/usr/share/keyrings/azlux-archive-keyring.gpg] http://packages.azlux.fr/debian/ bullseye main" | tee /etc/apt/sources.list.d/azlux.list \
      && wget -O /usr/share/keyrings/azlux-archive-keyring.gpg  https://azlux.fr/repo.gpg
    chdir: "{{ download_dir }}"

- name: Install azlux packages
  ansible.builtin.apt:
    update_cache: true
    name:
      - oha
      - broot
      - gping
