---
- name: Install depdendencies
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common

- name: Add docker repository key
  ansible.builtin.shell: |
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -

- name: Add docker  apt repository
  ansible.builtin.shell: |
    add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu  {{ ubuntu_codename }} stable" -y


- name: Update apt cache and install docker
  ansible.builtin.apt:
    update_cache: true
    name:
      - containerd.io
      - docker-ce
      - docker-ce-cli

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ username }}"
    groups: docker
    append: true

- name: Install docker-compose
  block:

    - name: Download docker-compose binary
      ansible.builtin.include_tasks: install_github_asset.yaml
      vars:
        github_repo: docker/compose
        github_asset: docker-compose-Linux-x86_64
        github_asset_dest: "{{ download_dir }}/docker-compose"
        type: binary

- name: Install lazydocker
  ansible.builtin.shell:
    cmd: curl https://raw.githubusercontent.com/jesseduffield/lazydocker/master/scripts/install_update_linux.sh | bash
    chdir: "{{ download_dir }}"
  become_user: "{{ username }}"
