---
- name: "Set variables"
  set_fact:
    type: "deb"

- name: Download {{ github_asset }}
  shell: |
    curl -fsSL https://api.github.com/repos/{{ github_repo }}/releases/latest > {{ github_asset_dest }}.json
    URL=$(cat {{ github_asset_dest }}.json | jq '.assets | .[] | select(.name | test("all|amd64|x86_64|x86-64")) | select(.name | test("darwin|windows|musl|sha") | not) | select(.name | contains(".deb")) | { browser_download_url } | .[]');
    echo $URL | xargs wget -O "{{ github_asset_dest }}.deb";
  when: type == "deb"

- name: Download {{ github_asset }}
  shell: |
    curl -fsSL https://api.github.com/repos/{{ github_repo }}/releases/latest > {{ github_asset_dest }}.json
    URL=$(cat {{ github_asset_dest }}.json | jq '.assets | .[] | select(.name | test("amd64|x86_64|x86-64")) | select(.name | test("darwin|windows|musl|sha") | not) | { browser_download_url } | .[]');
    echo $URL | xargs wget --verbose -O "{{ github_asset_dest }}";
  when: type == "binary"
