---
- name: Install Neovim
  ansible.builtin.apt:
    name: neovim

- name: Create plugin manager directory
  ansible.builtin.file:
    path: "{{ nvim_plugin_manager_path }}"
    state: directory
    mode: "0775"
  become_user: "{{ username }}"

- name: Install nvim plugin manager
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: "{{ nvim_plugin_manager_path }}/plug.vim"
  become_user: "{{ username }}"

- name: Create config directory
  ansible.builtin.file:
    path: "{{ nvim_config_path }}"
    state: directory
    mode: "0775"
  become_user: "{{ username }}"

- name: Copy nvim config file
  ansible.builtin.copy:
    src: ./defaults/.config/nvim/init.vim
    dest: "{{ nvim_config_path }}/init.vim"
    mode: "0644"
  become_user: "{{ username }}"

- name: Install nvim plugins
  ansible.builtin.shell: >
    rm -rf ~/.vim/plugged || true && nvim +PlugInstall +q +q
  become_user: "{{ username }}"
