---
- name: Install and configure Undervolt
  block:
    - name: Install pip if not installed
      ansible.builtin.apt:
        name:
          - python3-pip

    - name: Install undervolt with pip
      ansible.builtin.pip:
        name: undervolt

    - name: Undervolt the CPU - core -130, cache -130
      ansible.builtin.shell: |
        undervolt --core -130 --cache -130

    - name: Create systemd service file for undervolting and a timer file
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "{{ systemd_system }}"
        owner: root
        mode: "0644"
      with_fileglob:
        - defaults/undervolt/*

    - name: Start the service and enable on boot
      ansible.builtin.systemd:
        name: undervolt.timer
        state: started
        enabled: true
        daemon_reload: true

  when: vagrant_username != username
